shared-layout 
    h1 About
    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus animi fuga aut ipsum. Repellendus voluptatibus error minus animi illo nobis. Eveniet necessitatibus soluta nemo voluptates eaque, repellendus atque corrupti molestiae!