shared-layout(:messages="messages")
    h1 Home
    div Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eligendi ut repellendus ducimus perferendis magni veritatis quod soluta, ipsum aliquam dignissimos rem voluptatem autem ullam quae et doloremque animi quisquam.
    h2 Messages: {{ numberOfMessages }}